{% extends 'form/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %} 
<div style="margin-top: 30px;">
    <h1>{{title}}</h1>
    <form method="post" action="{% url 'classroom_form' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table>
        <thead>
            <th>S.N.</th>
            <th>Name</th>
        </thead>
        <tbody>
            {% for classroom in classrooms %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{classroom.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}