{% extends "form/base.html" %}
{% block title %}Template Form{% endblock %}

{% block content %}
    <form method="post" action="{% url 'template_form' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Department</label>
            <input type="text" class="form-control" id="address" name="department">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Profile Picture</label>
            <input type="file" class="form-control" id="file" name="profile_picture">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}